@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #1e1e1e;
  font-weight: 500;
  position: relative;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

#__next {
  height: 100%;
  position: relative;
}

.container {
  padding: 1.5em 1.2em;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
h1 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  margin-bottom: 4px;
}

@tailwind components;
@tailwind utilities;
